.footer{
    width: 100%;
    height:175px;
    position:fixed;
    left: 0;
    bottom: 0;
    background: #232323;
    text-align: center;

}

.link{
display:flex;
width: 127px;
height: 31px;
 /* border:1px solid red; */
}

#home,#team{
 width:52px;
}
#event{
    width:52px;
}

#contactus{
    width:100px;
}

#department{
    width:98px;
}
#chemethans{
    width:98px;
}

.line{

border: 1px solid #FFFFFF;
Width :0.5px;
background-color: #FFFFFF;
height: 20px;
margin-right: 5px;
margin-top: 5px;
}

.linktext{
text-decoration: none;
 font-family: 'Saira Condensed', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 27px;
/* identical to box height */


color: #FFFFFF;

}
.linktext:hover{
text-decoration: none;
color: #FFFFFF;
}

#hometext,#teamtext,#eventtext{
    left:20%;
}




.chesslogo{
position: absolute;
width: 172.5px;
height: 69px;
left: 20px;
bottom: 74px;
/* border:1px solid red; */

}



.ChessText{
    margin-top: 2%;
    margin-left: -47%;
    font-size: 40px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bolder;
    text-shadow: 3px 0 #FFFFFF;
    color:#FFFFFF


}
.iitrtext{
    margin-top: -19px;
    font-size: 18px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
}

.socialicon{
    position: fixed;
width: 8.03px;
height: 15px;
left: 20px;
bottom: 42px;
margin:5%,5%,5%,5%;

/* dark.text.secondary */


}

.vector{
    width: 100%;
  height: 100%;
  font-size: 20px;
  color: gray;
}

#insta{
left: 40px;
   
}
#twitter{
left:60px;
   
}
#yt{
left: 80px;
   
}

.footer1{
    position: absolute;
    width: 130px;
    height: 15px;
    left: calc(50% - 125.27px/2 - 0.37px);
    bottom: 9%;
    
    /* dark.text.secondary */
    /* border:1px solid red; */
    /* background: #4F4F4F;  */
    color: gray;
    text-align: initial;
}

.footer1text{
    margin-top: -19%;
    margin-left: 21%;
}

.linkcontainer{
display:flex;
flex-direction:coloumn;
column-count: 3;
 position: absolute;
width: 250px;
height: 50px;
right: 20px;
bottom: 74px;
 /* border:1px solid red;  */
}

#linkrowtwo{
    bottom:32px;
}

@media only screen and (max-width: 500px) {
    .chesslogo{left:0px;}
    #fb{left:5px;}
    #insta{left:25px;}
    #twitter{left:45px;}
    #yt{left:65px;}
    .linkcontainer{width:170px;
    right:0px;}
    #home,#team{
        width:42px;
       }
     #event{
       width:50px;
     }  
       #contactus{
           width:70px;
       }
       
       #department{
           width:80px;
       }
       #chemethans{
           width:73px;
       }
    .linktext{
        font-size: 12px;
    }
    .ChessText{
        font-size: 25px;
    text-shadow: 1px 0 #FFFFFF;
    }
    .iitrtext{
    font-size:10px;
    margin-top: -11px;
    margin-left:-11%;

    }
    .socialicon{
        bottom:90px;
    }

    .linkcontainer{
        bottom:85px;
    }
    #linkrowtwo{
        bottom:55px;
    }
   }
